---
import './global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.jpg" />
    <title>Mueller Skatepark</title>
  </head>
  <body>
    <slot />
    <script src="/js/image-enlarge.js" is:inline></script>
  </body>
</html>
